

.text-divider {
    display: flex;
    align-items: center; 
  }
  
  .text-divider::before,
  .text-divider::after {
    content: '';
    height: 1px;
    background-color: silver;
    flex-grow: 1; 
  }